// Shades Colours
$black: #051B33;
$grey_darker: #204166;
$grey_dark: #5C7899;
$grey: #95B4D4;
$grey_light: #BED1E8;
$grey_lighter: #DAE5F2;
$off_white: #F0F3F7;
$white: #FFFFFF;

// Brand Colours
$brand: #0075FF;
$brand_dark: #02499D;
$brand_light: #65ACFF;
$contrast: #FF5C00;
$contrast_dark: #D03301;
$contrast_light: #FF9326;

// Button Colours
$success: #2B9F73;
$success_hover: #1D855D;
$warning: #ED952B;
$warning_hover: #D4801C;
$danger: #D83A3A;
$danger_hover: #BF2A2A;
