@import 'reset';
@import 'variables';
@import 'fonts';
@import 'btn';
@import 'snap';


.nav_main{
    padding: 20px 0;
    ul{
        max-width: 1200px;
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.section{
    padding: 145px 0;

    &-one-col{
        text-align: center;

        .container{
            max-width: 604px;
            margin: auto;
            padding: 0 5%;
        }
    }
}

.footer{
    padding: 20px 0;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;    
        max-width: 1200px;
        width: 90%;
        margin: auto;    

        a{
            text-decoration: none;
            &:hover, &:focus{
                text-decoration: underline;
            }
        }
    }
}

